<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 服务提供者：应用名称 -->
    <dubbo:application name="dataservice"/>
    <!-- 配置zookeeper注册中心 -->
    <dubbo:registry protocol="zookeeper" address="192.168.157.129:2181"/>

    <!--注：这里的ref参数就是指spring容器中的serviceImpl对象-->
    <!--历史年化利率的service实现类给它注册到注册中心-->
    <dubbo:service interface="com.hust.p2p.service.loan.LoanInfoService" ref="loanInfoServiceImpl" version="1.0.0" timeout="15000"></dubbo:service>

    <!--平台注册总人数的service实现类注册到注册中心-->
    <dubbo:service interface="com.hust.p2p.service.user.UserService" ref="userServiceImpl" version="1.0.0" timeout="15000"></dubbo:service>

    <!--投资总金额的service实现类注册到注册中心-->
    <dubbo:service interface="com.hust.p2p.service.loan.BidInfoService" ref="bidInfoServiceImpl" version="1.0.0" timeout="15000"></dubbo:service>
</beans>